<div class="mx-auto text-center">
    <h2 class="text-6xl font-semibold  text-blue-600">About us</h2>
    <div class=" text-justify pt-20">
        <p class="text-lg p-6">With the motto of promoting technology, creativity and innovation, the Technical Board
            understands and believes that this fast changing and evolving era is the perfect time to live in and step-up to shape
            our future by looking at the world as our playground!
        </p>
        <p class="text-lg p-6">Many students have that creative urge in them ready to shoot out at any moment. They have dreamt
            and believed that they were supposed to do something amazing, special, important and outstanding and they were destined
            for success! Those who believe that they can innovate, create and build their own future, Technical Board provides them
            with both the opportunity and support to help them leave their mark, make a difference and leave their legacy by choice
            and not by chance!</p>
    </div>
</div>